<div class="container" style="    padding-bottom: 45px;">
  <div class="d-flex justify-content-center">
    <h4>Make the world a better place - but not this time.</h4>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 mb-3">
      <strong>Who?</strong>
      <br>Developers, students, everybody interested in tech
    </div>
    <div class="col-12 col-sm-6 col-lg-3   mb-3">
      <strong>What?</strong>
      <br>24 hours of coding/brainstorming free food & drinks
    </div>
    <div class="col-12 col-sm-6 col-lg-3  mb-3">
      <strong>Where?</strong>
      <br>Microsoft Office Walter-Gropius-Straße 5 80807 München
    </div>
    <div class="col-12 col-sm-6 col-lg-3  mb-3">
      <strong>When?</strong>
      <br>20. January 10 am - 21. January ca 18 pm
    </div>
    <!-- <img src="assets/images/tech.png" class="img-home"> -->
  </div>

</div>